@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --pink: #FF0072;
    --scarlet: #FF5864;
    --orange: #FF7F47;
    --dk-grey: #333333;
    --grey: #666666;
    --lt-grey: #c6c6c6;

    --dislike-col: #e30053;
    --superlike-col: #20b0f7;
    --like-col: #00eb8d;
}

* {
    font-family: "Open Sans", sans-serif;
    
}

* h1, * h2, * h3 {
    color: var(--dk-grey);
}


body {
    background-image: linear-gradient(to top right, var(--pink) , var(--orange));
    background-size: 100vw 300vh;
}

* p, * a {
    color: var(--grey);
}

* a:hover {
    color: var(--scarlet);
}

.container {
    background-color: white;
    border-radius: 20px;
    position: relative;
    height: 100%;
    width: 70vh;
    padding-bottom: 5%;
    margin: auto;
}

.buttons {
    align-items: center;
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 1%;
}

.button {
    background-color: white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#top {
    position: fixed;
    z-index: 10;
    top: 2vh;
    left: 10vw;
    right: 10vw;
}

#top input {
    background-color: white;
    color: var(--grey);
    padding: 3px 8px 3px 8px;
}

#top input:hover {
    color: var(--scarlet);
}
