/* HEADER */

#logo {
    margin: 10% 10% 2% 10%;
    width: 80%;
    height: 10vh;
    opacity: 0.4;
}

/* INPUTS */

#input-section {
    background-color: white;
    margin: auto;
    width: 70%;
    padding: 5%;
    border-radius: 10px;
    height: 70vh;
    align-items: center;
    justify-content: center;
}

.input {
    margin: 3%;
    display: flex;
}

.input-box {
    margin-left: 5%;
    flex: 2;
}

/* BOTTOM */
#match-button {
    background-color: var(--scarlet);
    color: white;
    margin: 5% 40% 10% 40%;
    width: 20%;
    font-size: 1rem;
    padding: 2%;
}

#match-button:hover {
    background-color: var(--orange);
}
