/* HEADER */


.description {
    padding: 2% 5% 2% 5%;
    border-top: var(--lt-grey) solid 1px;
}

/* TOP */

#about {
    border-top: none;
    border-bottom: var(--lt-grey) solid 1px;
    padding-top: 0px;
}

#logo {
    margin: 10% 10% 0% 10%;
    width: 80%;
    height: 10vh;
    opacity: 0.4;
}

/* INPUTS */
#input-container {
    padding-top: 3%;
    padding-bottom: none;
}

.input {
    margin: 3%;
    display: flex;
}

.text-label {
    color: white;
    padding: 1% 2% 1% 2%;
    border-radius: 5px;;
    width: 30%;
    margin-left: 3%;
}

#label1, #label2 {
    background-color: var(--orange);
}

#label3, #label4 {
    background-color: var(--scarlet);
}

#label5 {
    background-color: var(--pink);
}

/* RADIO BUTTONS */

.input-box {
    border-radius: 5px;
    border: var(--lt-grey) solid 2px;
    padding: 1%;
    flex: 2;
    margin-left: 3%;
}

.radio-buttons {
    align-items: center;
    display: flex;
    justify-content: left;
    border: blue solid 2px;
    z-index: 10;
    border-radius: 5px;
    border: var(--lt-grey) solid 2px;
    padding: 1%;
    flex: 2;
    font-size: 0.8rem;
    margin-left: 3%;
}

/* BOTTOM */
#match-button {
    background-color: var(--pink);
    color: white;
    margin: 5% 40% 5% 40%;
    width: 20%;
    font-size: 1rem;
    padding: 2%;
}

#match-button:hover {
    color: var(--lt-grey);
}


a {
    color: var(--grey);
}

a:hover {
    color: var(--scarlet);
}

#footnote {
    color: var(--lt-grey);
    padding-bottom: 3%;
}

strong {
    color: var(--dk-grey);
}

