@import "global.css";

.section {
    padding: 0% 5% 2% 5%;
    border-bottom: var(--lt-grey) solid 1px;
}

.section h2 {
    font-size: 2vh;
}

a, p {
    font-size: 1.25vh;
}

a:hover {
    color: var(--scarlet);
}

.button {
    margin: 10px;
}

/* HEADER */
#header {
    padding: 5% 5% 0% 5%;
}

#header input {
    width: 10px;
    visibility: hidden;
} 

#name {
    font-weight: 800;
    font-size: 2.5vh;
    margin-top: 50px;
    line-height: 0.25;
}

#pfp {
    width: 100%;
    height: 25vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

#compatibility {
    font-weight: 400;
    font-size: 2vh;
    padding: 0.75%;
}

/* RECS */

.rec-artist {
    margin-right: 5%;
}

/* PROMPTS */
.prompt {
    border: var(--lt-grey) solid 1px;
    border-radius: 10px;
    padding-left: 3%;
    padding-bottom: 2%;
}

.prompt h3 {
    color: var(--grey);
    font-size: 1.5vh;
}

.quote {
    color: var(--pink);
    font-size: 2vh;
}

/* BUBBLES */

.bubbles {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
}

.bubble, .bubble-red {
    border-radius: 30px;
    padding: 3%;
    margin: 1%;
}

.bubble {
    border: var(--lt-grey) solid 1.5px;
}

.bubble-red {
    border: var(--scarlet) solid 1.5px;
    color: var(--scarlet);
}

/* MY ANTHEM */

#my-anthem {
    display: flex;
}

#anthem {
    border-bottom: white;
}

#anthem a {
    font-size: 1.5vh;
}

#anthem-artist {
    font-size: 1.25vh;
    color: var(--grey)
}

#anthem-body {
    width: 80%;
}

#anthem-audio {
    justify-content: center;
    width: 20%;
}

#my-anthem img {
    width: 90%;
    margin: 0% 5% 2% 5%;
}

audio {
    top: 50%;
    width: 50%;
    right: 7%;
    opacity: 50%;
    height: 3vh;
    margin-top: 2%;
}



/* SWIPING BUTTONS */
#swipe {
    position: fixed;
    z-index: 10;
    top: 90vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 66vh;
    justify-content: space-evenly;
}

#swipe input {
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
    padding: 5%;
    border: none;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dislike {
    color: var(--dislike-col);
}

#dislike:hover {
    background-color: var(--dislike-col);
    color: white;
}

#superlike {
    color: var(--superlike-col);
}

#superlike:hover {
    background-color: var(--superlike-col);
    color: white;
}

#like {
    color: var(--like-col);
}

#like:hover {
    background-color: var(--like-col);
    color: white;
}