<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/home.css" />
    <title>Tinderfy</title>
</head>
<body>
    <form class="buttons" id="top" action="/saved" method="POST">
        <input class="button" type="submit" value="View Matches">
    </form>

    <form action="/match" method="POST">
        <img id="logo" src="../static/test_image.png">
        <div id="input-section">
            <div class="input">
                <label id="label1" for="input1">Songs you like:</label>
                <input type="text" class="input-box" id="input1" name="input1" placeholder="playlist url">
            </div>
            <div class="input">
                <label id="label2" for="input2">Songs you dislike (optional):</label>
                <input type="text" class="input-box" id="input2" name="input2" placeholder="playlist url" value="https://open.spotify.com/playlist/2b08l28qJ61zKFztCRrNOl?si=42f49b25a17e41cf">
            </div>
            <div class="input">
                <label id="label3" for="input3">Songs they like:</label>
                <input type="text" class="input-box" id="input3" name="input3" placeholder="playlist url">
            </div>        
            <div class="input">
                <label id="label4" for="input4">Their username:</label>
                <input type="text" class="input-box" id="input4" name="input4" placeholder="username"> 
            </div>
                    
        
        <input class="button" id="match-button" type="submit" value="Match">
    </form>
    
    <p> insert tutorial/description here</p>
    <a href="https://github.com/kath3rine/tinderfy">learn more!</a>
    
</body>
</html>