<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/home.css" />
    <title>Tinderfy</title>
</head>
<body>
    <form action="/match" method="POST">
        <label for="input1">User 1 likes:</label>
        <input type="text" id="input1" name="input1" placeholder="playlist url">

        <label for="input2">User 1 dislikes:</label>
        <input type="text" id="input2" name="input2" placeholder="playlist url">

        <label for="input3">User 2:</label>
        <input type="text" id="input3" name="input3" placeholder="playlist url">

        <label for="input4">User 2 name:</label>
        <input type="text" id="input4" name="input4" placeholder="username"> 

        <input type="submit" value="Match">
    </form>
    
    <form action="/saved" method="POST">
        <input type="submit" value="View Matches">
    </form>
</body>
</html>