<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinderfy</title>
</head>
<body>
    <div class="container" id="match-container"> 
        <form action="/like" method="POST">
            {{out}}
            
                
                <input type="submit" value="super like">
                <input type="submit" value="like">
        </form>
            
        <form action="/" method="POST">
            <input type="submit" value="dislike">
        </form>

    </div>

        <!-- FOOTER -->
        <form action="/" method="POST">
            <input type="submit" value="Homepage">
        </form>

        <form action="/saved" method="POST">
            <input type="submit" value="View Matches">
        </form>
    
</body>
</html>