<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinderfy</title>
</head>
<body>
    <div class="container" id="match-container"> 
        <!-- HEADER -->
        <img src={{pfp}}> </br>
        <span>
            <h1> {{name}} </h1>
            <h3> {{compatibility}}% compatible </h3>
        </span>

        <!-- ABOUT -->
        <div class="section" id="about">
            <h2> Songs you'd both like:</h2>
            {%for i in range(0, len_recs)%}
                <li>{{recs[i]}}</li>
            {%endfor%}</br>
        </div>

        <!-- PROMPTS -->
        <div class="section" id="prompts">
            <h2> Prompts </h2>

            <div class="prompt" id="artists-prompt">
                <h3> Artists you both like are... </h3>
                {% if s_artists == "none :(" %}
                    <li> none :(</li>
                {% else %}
                    {%for i in range(0, len_s_artists)%}
                        <li>{{s_artists[i]}}</li>
                    {%endfor%}</br>
                {% endif %}
            </div>

            <div class="prompt" id="genres-prompt">
                <h3> Genres you both like are... </h3>
                {% if s_genres == "none :(" %}
                    <li> none :(</li>
                {% else %}
                    {%for i in range(0, len_s_genres)%}
                        <li>{{s_genres[i]}}</li>
                    {%endfor%}</br>
                {% endif %}
            </div>
        </div>

        <!-- BUBBLES -->
        <div class="section" id="bubble1">
            <h2> Favorite Artists </h2>
            {%for i in range(0, len_f_artists)%}
                <li>{{f_artists[i]}}</li>
            {%endfor%}</br>
        </div>

        <div class="section" id="bubble2">
            <h2> Favorite Genres </h2>
            {%for i in range(0, len_f_genres)%}
                <li>{{f_genres[i]}}</li>
            {%endfor%}</br>
        </div>

        <!-- BUTTONS -->
        <span id="buttons">
            <form action="/dislike" method="POST">
                <input type="submit" value="dislike">
            </form>

            <form action="/like" method="POST">
                <input type="submit" value="super like">
            </form>

            <form action="/like" method="POST">
                <input type="submit" value="like">
            </form>
        </span>
    </div>

        <!-- FOOTER -->
        <form action="/" method="POST">
            <input type="submit" value="Homepage">
        </form>

        <form action="/saved" method="POST">
            <input type="submit" value="View Matches">
        </form>
    
</body>
</html>