<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/saved.css" />
    <title>Tinderfy</title>
</head>
<body>
    <form class="buttons" id="top" action="/" method="POST">
        <input class="button" type="submit" value="Homepage">
    </form>

     <div class="container" id="match-container">
        

        
        <div class="subsection" id="messages">
            <strong class="subheading"> New Matches </strong>

                {% for i in range(n) %}
                <div class="match">
                    <img class="pfp" src={{matches_pfp[i]}}>
                    <div class="match-body">
                        <span class="name"> <a href={{matches_urls[i]}}> {{matches[i]}}</a></span>
                        <span class="your-turn">your turn</span></br>
                        <span class="pf-link"> {{matches_comps[i]}}% compatible </span>
                    </div>
                </div>
                    
                {% endfor %}
        </div>

        
     
    </div>

</body>
</html>
