<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/saved.css" />
    <title>Tinderfy</title>
</head>
<body>
    <form class="buttons" id="top" action="/" method="POST">
        <input class="button" type="submit" value="Homepage">
    </form>

     <div class="container" id="match-container">
        
        <strong class="subheading"> New Matches </strong>

        <div class="subsection" id="new-matches">
            {% if n < 3 %}
                {% for i in range(n) %}
                        <div class="top-match">
                            <img class="top-pfp" src={{matches_pfp[i]}}/>
                            <a href={{matches_urls[i]}} class="top-name"> {{matches[i]}} </a>
                        </div>
                {% endfor %}

            {% else %}
                {% for i in range(0, 3) %}
                        <div class="top-match">
                            <img class="top-pfp" src={{matches_pfp[i]}}/>
                            <a href={{matches_urls[i]}} class="top-name"> {{matches[i]}} </a>
                        </div>
                {% endfor %}
            {% endif %}
        </div>

        
        <div class="subsection" id="messages">
            <strong class="subheading"> Messages </strong>

            {% if n > 3 %}
                {% for i in range(3, n) %}
                <div class="match">
                    <img class="pfp" src={{matches_pfp[i]}}/>
                    <div class="match-body">
                        <span class="name"> {{matches[i]}}</span>
                        <span class="your-turn">your turn</span></br>
                        <a href={{matches_urls[i]}} class="pf-link"> {{matches_urls[i]}}</a>
                    </div>
                </div>
                    
                {% endfor %}
            {% endif %}
        </div>

        
     
    </div>

</body>
</html>
